<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link href="/public/assets/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <form action="/events" method="POST">
                <img src="mongodb://localhost:27017/locals-aachen/<%= event.file %>" />
                <h1>
                    <%= event.file %>
                </h1>
                <h1>
                    <%= event.title %>
                </h1>
                <h2>
                    <%= event.location %>
                </h2>
                <h2>
                    <%= event.date %>
                </h2>
                <h2>
                    <%= event.description %>
                </h2>
        </div>
    </div>
    <br>
    <a href="/events" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All Events</a>
    <a href="/events/<%= event._id %>/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit
        Event</a>
    <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

</body>

</html>